body {
    margin: 0; 
    background-image: url(/assets/images/greysandbag.png);
}

* {
    box-sizing: border-box;
    text-align: center;
}

img {
    float: left;
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

a:link {
    color: #4aaaa5;
}

a:visited {
    color: #777777;
}

a:hover {
    color: #138581;
}

a:active {

}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 28px;
    background: #4aaaa5;
    padding: 20px;
    margin-bottom: 0px;
    border-color: #cccccc;
    padding-left: 40px;
    float: left;
    border-bottom: 5px #666666;
}

#menu {
   vertical-align: top;
   text-align: right;
   float: right;
   background: #ffffff;
   margin: 20px 10px 10px 10px;
   margin-bottom: 0px;
}


h1 {
    margin: 10px 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 28px;
    text-align: left;
}
.justinaustin {
    height: 100px;
    width: 100px;
}

#info {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    margin: 0px 0px -5px 40px;
    background: rgb(216, 216, 216);
    border-color: #dddddd;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    clear: both;
}

body.contact #info{
    background-image: url(../images/greysandbag.png);
}

p {
    color: #777777;
    font-size: 20px;
    text-align: left;
}

aside {
    padding: 10px 10px 10px 10px;
    margin: 30px 0px 5px 15px;
    background:white;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    height: 300px;
    color: black;
    font-size: 24px;
  }

hr { 
    color:
    border-style: inset;
    border-width: 1px;
}

footer {
    padding-top: 10px;
    margin: 2px 0px 2px 0px;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    width: 100%;
    height: 50px;
    color: rgb(216, 216, 216);
    clear: both;
    font-size: 16px;
    bottom: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
}


#images {
      overflow-y: scroll;
      margin: 10px 10px 10px 10px;
      padding: 10px 100px 10px 10px;
      width: 938px;
      height: 220px;
}

img.justinaustin {
    height: 160px;
    width: 125px;
}

img. {
    height: 150px;
    width: 125px;

}

.textbox {
    position: absolute;
    top: 110px;
    width: 195px;
    text-align: center;
    background: #4aaaa5;
    padding: 5px;
    color: white;
}

* {
    box-sizing: border-box;
}

div.column {
    float: left;
    margin-right: -50px;
    margin-bottom: 10px;
    width: 33.33%;
    padding: 5px;
    position: relative;
}

/* Clearfix (clear floats) */
div.row::after {
    content: "";
    clear: both;
    display: table;
}

input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 10px;
      margin-bottom: 10px;
      resize: vertical;
}
  
input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
}
  
input[type=submit]:hover {
      background-color: #45a049;
}
  
.container {
      border-radius: 5px;
      background-color: white;
      padding: 0px 50px 220px 50px;
      font-size: 16px;
      height: 120px;
      resize: both;
}

#scroll {
    overflow-y: scroll;
    width: 948px;
}

.dog {
    position: relative;
    font-family: Arial;
}

.text-block1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}



/* Things I need help with on Saturday:
Background image 
Shrinking forms
Are my dimensions all right?
Gitbash terminal - pulling and pushing docs from/into repository
Problems with Gitbash in general